#### 데이터 준비

In [88]:
import pandas as pd
import numpy as np

data=pd.read_csv('./data/보건복지부_공공보건 의료기관 현황.csv', index_col=0, encoding='utf-8')
data.head()

,병원 명,설립형태,근거 법령,관계 행정기관,관계 공공단체,심평원 요양기관번호,종별구분,병상수,소재지 우편번호,주소,홈페이지,대표전화,FAX,비고
연번,,,,,,,,,,,,,,
1,강원도 재활병원,시도립,강원도재활병원설치및운영에관한조례,강원도,해당없음,32200641,병원,165,24227,강원도 춘천시 충열로 142번길 24-16,www.grh.or.kr,033-248-7700,033-248-7723,NaN
2,강원도 삼척의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100060,종합병원,152,25920,강원도 삼척시 오십천로 418,http://ksmc.or.kr,033-572-1141,033-573-8424,NaN
3,강원도 영월의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100078,종합병원,214,26234,강원도 영월군 영월읍 중앙1로 59,http://www.youngwol.org,033-370-9117,033-370-9137,NaN
4,강원도 원주의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100086,종합병원,237,26448,강원도 원주시 서원대로 387(개운동),www.kwmc.or.kr,033-760-4500,033-761-5121,NaN
5,강원도 강릉의료원,특수법인,지방의료원의 설립 및 운영에 관한 법률,보건복지부(강원도),지방의료원,32100159,종합병원,137,25535,강원도 강릉시 경강로 2007(남문동 164-1),http://www.gnmc.or.kr,033-646-6910,033-610-1415,NaN

In [89]:
# 주소에서 시도, 구군 정보 분리
addr = pd.DataFrame(data['주소'].apply(lambda v:v.split()[:2]).tolist(),columns=('시도','구군'))
addr

       시도   구군
0     강원도  춘천시
1     강원도  삼척시
2     강원도  영월군
3     강원도  원주시
4     강원도  강릉시
..    ...  ...
222  충청북도  제천시
223  충청북도  충주시
224  충청북도  충주시
225  충청북도  영동군
226  충청북도  단양군

[227 rows x 2 columns]

In [90]:
addr['시도'].unique()

array(['강원도', '경기도', '경기', '경남', '창원시', '경상남도', '경상북도', '경산시', '경북',
       '인천광역시', '대구광역시', '전라남도', '대전광역시', '광주광역시', '제주특별자치도', '부산광역시',
       '전라북도', '충북', '서울특별시', '서울시', '부산특별시', '대전시', '충남', '전남', '충청남도',
       '울산광역시', '전북', '천안시', '충청북도'], dtype=object)

In [91]:
# 창원시
addr[addr['시도']=='창원시']

     시도           구군
27  창원시          의창구
31  창원시  마산합포구3.15대로

In [92]:
addr.iloc[27]=['경상남도','창원시']
addr.iloc[31]=['경상남도','창원시']

In [93]:
# 경산시
addr[addr['시도']=='경산시']

     시도   구군
47  경산시  경안로

In [94]:
addr.iloc[47]=['경상북도','경산시']

In [95]:
# 천안시
addr[addr['시도']=='천안시']

      시도   구군
209  천안시  동남구
210  천안시  동남구

In [96]:
addr.iloc[209]=['충청남도','천안시']
addr.iloc[210]=['충청남도','천안시']

#### 경기->경기도, 경남->경상남도, 부산특별시->부산광역시

In [97]:
addr_aliases = {'경기':'경기도', '경남':'경상남도', '경북':'경상북도', '충북':'충청북도',
'서울시':'서울특별시', '부산특별시':'부산광역시', '대전시':'대전광역시', '충남':'충청남도',
'전남':'전라남도', '전북':'전라북도'
}

In [98]:
addr['시도']=addr['시도'].apply(lambda v:addr_aliases.get(v,v))
addr['시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '인천광역시', '대구광역시', '전라남도', '대전광역시',
       '광주광역시', '제주특별자치도', '부산광역시', '전라북도', '충청북도', '서울특별시', '충청남도',
       '울산광역시'], dtype=object)

#### 구군 정리

In [99]:
addr['구군'].unique()

array(['춘천시', '삼척시', '영월군', '원주시', '강릉시', '속초시', '정선군', '수원시', '이천시',
       '안성시', '의정부시', '포천시', '파주시', '용인시', '평택시', '시흥시', '여주시', '남양주시',
       '동두천시', '안산시', '부천시', '통영시', '사천시', '창원시', '김해시', '양산시', '거창군',
       '남해군', '의령군', '포항시', '김천시', '안동시', '울진군', '경주시', '구미시', '영주시',
       '상주시', '문경시', '경산시', '의성군', '청도군', '고령군', '칠곡군', '봉화군', '울릉군',
       '부평구', '북구', '순천시', '대덕구', '태백시', '동해시', '화성시', '광산구', '남구', '중구',
       '아란13길', '서구', '전주시', '진주시', '청주시', '종로구', '성남시', '동구', '화순군',
       '강동구', '사상구', '달서구', '해운대구', '유성구', '가평군', '양주시', '고양시', '홍천군',
       '양구군', '청원군', '계룡시', '논산시', '함평군', '양평군', '수성구', '달성군', '연수구',
       '노원구', '기장군', '공주시', '강북구', '광진구', '나주시', '창녕군', '목포시', '고흥군',
       '연제구', '동매로', '서초구', '은평구', '중랑구', '강남구', '동작구', '동대문구', '양천구',
       '성동구', '송파구', '울주군', '계양구', '옹진군', '보성군', '광양시', '영광군', '무안군',
       '진도군', '강진군', '곡성군', '여수시', '신안군', '장성군', '완주군', '부안군', '정읍시',
       '남원시', '군산시', '고창군', '진안군', '제주시', '서귀포시', '천안시', '보령시', '서산시',
       '서천군', '홍성군', '제천시', '충주시', '영동군', '단양군'], dtype=object)

In [100]:
addr[addr['구군']=='아란13길']

         시도     구군
75  제주특별자치도  아란13길

In [101]:
addr.iloc[75]=['제주특별자치도','제주시']

#### 행정구역별 공공보건의료기관 수

In [102]:
addr['행정구역']=addr.apply(lambda r:r['시도']+' '+r['구군'], axis='columns')
addr.head()

    시도   구군     행정구역
0  강원도  춘천시  강원도 춘천시
1  강원도  삼척시  강원도 삼척시
2  강원도  영월군  강원도 영월군
3  강원도  원주시  강원도 원주시
4  강원도  강릉시  강원도 강릉시

In [103]:
addr['count']=0
addr

       시도   구군      행정구역  count
0     강원도  춘천시   강원도 춘천시      0
1     강원도  삼척시   강원도 삼척시      0
2     강원도  영월군   강원도 영월군      0
3     강원도  원주시   강원도 원주시      0
4     강원도  강릉시   강원도 강릉시      0
..    ...  ...       ...    ...
222  충청북도  제천시  충청북도 제천시      0
223  충청북도  충주시  충청북도 충주시      0
224  충청북도  충주시  충청북도 충주시      0
225  충청북도  영동군  충청북도 영동군      0
226  충청북도  단양군  충청북도 단양군      0

[227 rows x 4 columns]

In [104]:
addr_group=addr_group.drop(columns='시도구군')
addr_group

KeyError: "['시도구군'] not found in axis"

In [ ]:
addr_group=pd.DataFrame(addr.groupby(['시도','구군','행정구역'], as_index=False).count())
addr_group

       시도   구군      행정구역  count
0     강원도  강릉시   강원도 강릉시      4
1     강원도  동해시   강원도 동해시      1
2     강원도  삼척시   강원도 삼척시      1
3     강원도  속초시   강원도 속초시      1
4     강원도  양구군   강원도 양구군      1
..    ...  ...       ...    ...
135  충청북도  영동군  충청북도 영동군      1
136  충청북도  제천시  충청북도 제천시      1
137  충청북도  청원군  충청북도 청원군      1
138  충청북도  청주시  충청북도 청주시      4
139  충청북도  충주시  충청북도 충주시      2

[140 rows x 4 columns]

In [85]:
addr_group=addr_group.set_index('행정구역')

KeyError: "None of ['행정구역'] are in the columns"

In [84]:
addr_group

            시도   구군  count
행정구역
강원도 강릉시    강원도  강릉시      4
강원도 동해시    강원도  동해시      1
강원도 삼척시    강원도  삼척시      1
강원도 속초시    강원도  속초시      1
강원도 양구군    강원도  양구군      1
...        ...  ...    ...
충청북도 영동군  충청북도  영동군      1
충청북도 제천시  충청북도  제천시      1
충청북도 청원군  충청북도  청원군      1
충청북도 청주시  충청북도  청주시      4
충청북도 충주시  충청북도  충주시      2

[140 rows x 3 columns]

#### 행정구역별 인구수 데이터 가져오기

In [86]:
!pip install openpyxl

Collecting openpyxl
  Using cached openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [87]:
population = pd.read_excel('./data/행정구역_시군구_성별_인구수.xlsx')
population

      행정구역_1   행정구역_2      총인구수     남자인구수     여자인구수
0         전국       소계  51574446  25708650  25865796
1      서울특별시       소계   9493211   4604405   4888806
2      서울특별시   　　　종로구    143547     69463     74084
3      서울특별시    　　　중구    122138     59360     62778
4      서울특별시   　　　용산구    222262    106743    115519
..       ...      ...       ...       ...       ...
287     경상남도   　　　거창군     60531     29716     30815
288     경상남도   　　　합천군     42482     20584     21898
289  제주특별자치도       소계    678491    339951    338540
290  제주특별자치도   　　　제주시    493898    246826    247072
291  제주특별자치도  　　　서귀포시    184593     93125     91468

[292 rows x 5 columns]

In [105]:
population=population.rename(columns={'행정구역_1':'시도', '행정구역_2':'구군'})
population.tail()

          시도       구군    총인구수   남자인구수   여자인구수
287     경상남도   　　　거창군   60531   29716   30815
288     경상남도   　　　합천군   42482   20584   21898
289  제주특별자치도       소계  678491  339951  338540
290  제주특별자치도   　　　제주시  493898  246826  247072
291  제주특별자치도  　　　서귀포시  184593   93125   91468

In [106]:
for item in range(0,len(population)):
    population['구군'][item]=population['구군'][item].strip()

C:\Users\admin\AppData\Local\Temp\ipykernel_20140\1634407057.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  population['구군'][item]=population['구군'][item].strip()

In [107]:
population.tail()

          시도    구군    총인구수   남자인구수   여자인구수
287     경상남도   거창군   60531   29716   30815
288     경상남도   합천군   42482   20584   21898
289  제주특별자치도    소계  678491  339951  338540
290  제주특별자치도   제주시  493898  246826  247072
291  제주특별자치도  서귀포시  184593   93125   91468

In [108]:
population['행정구역']=population.apply(lambda i:i['시도']+' '+ i['구군'],
axis='columns')
population.head()

      시도   구군      총인구수     남자인구수     여자인구수       행정구역
0     전국   소계  51574446  25708650  25865796      전국 소계
1  서울특별시   소계   9493211   4604405   4888806   서울특별시 소계
2  서울특별시  종로구    143547     69463     74084  서울특별시 종로구
3  서울특별시   중구    122138     59360     62778   서울특별시 중구
4  서울특별시  용산구    222262    106743    115519  서울특별시 용산구

In [110]:
population=population.set_index('행정구역')

In [111]:
population.head()

              시도   구군      총인구수     남자인구수     여자인구수
행정구역
전국 소계         전국   소계  51574446  25708650  25865796
서울특별시 소계   서울특별시   소계   9493211   4604405   4888806
서울특별시 종로구  서울특별시  종로구    143547     69463     74084
서울특별시 중구   서울특별시   중구    122138     59360     62778
서울특별시 용산구  서울특별시  용산구    222262    106743    115519

#### 보건의료기관수 df, 인구수 df 병합

In [113]:
all_data=pd.merge(addr_group,population,how='inner',left_index=True,
right_index=True)
all_data.head()

        시도_x 구군_x  count 시도_y 구군_y    총인구수   남자인구수   여자인구수
행정구역
강원도 강릉시  강원도  강릉시      4  강원도  강릉시  212260  105312  106948
강원도 동해시  강원도  동해시      1  강원도  동해시   89683   45584   44099
강원도 삼척시  강원도  삼척시      1  강원도  삼척시   64046   32390   31656
강원도 속초시  강원도  속초시      1  강원도  속초시   83035   41174   41861
강원도 양구군  강원도  양구군      1  강원도  양구군   21555   11303   10252

#### 병합한 df에서 필요없는 컬럼(시도_y,구군_y,남자인구수,여자인구수) 삭제

In [117]:
last_data=all_data[['시도_x','구군_x','count','총인구수']]
last_data = last_data.rename(columns={'시도_x':'시도','구군_x':'구군','총인구수':'인구수'})
last_data

            시도   구군  count     인구수
행정구역
강원도 강릉시    강원도  강릉시      4  212260
강원도 동해시    강원도  동해시      1   89683
강원도 삼척시    강원도  삼척시      1   64046
강원도 속초시    강원도  속초시      1   83035
강원도 양구군    강원도  양구군      1   21555
...        ...  ...    ...     ...
충청북도 단양군  충청북도  단양군      1   28014
충청북도 영동군  충청북도  영동군      1   45321
충청북도 제천시  충청북도  제천시      1  131816
충청북도 청주시  충청북도  청주시      4  849083
충청북도 충주시  충청북도  충주시      2  208725

[138 rows x 4 columns]

In [118]:
mc_count=last_data['count']
mc_count

행정구역
강원도 강릉시     4
강원도 동해시     1
강원도 삼척시     1
강원도 속초시     1
강원도 양구군     1
           ..
충청북도 단양군    1
충청북도 영동군    1
충청북도 제천시    1
충청북도 청주시    4
충청북도 충주시    2
Name: count, Length: 138, dtype: int64

In [120]:
# 인구 10만명당 공공보건기관 비율 계산
last_data['mc_ratio']=mc_count.div(last_data['인구수'],axis=0) * 1000000
last_data.head()

          시도   구군  count     인구수   mc_ratio
행정구역
강원도 강릉시  강원도  강릉시      4  212260  18.844813
강원도 동해시  강원도  동해시      1   89683  11.150385
강원도 삼척시  강원도  삼척시      1   64046  15.613778
강원도 속초시  강원도  속초시      1   83035  12.043114
강원도 양구군  강원도  양구군      1   21555  46.392948

In [121]:
last_data.to_csv('./data/인구대비_공공보건기관.csv',encoding='utf-8')

#### 바차트 그리기

In [122]:
from matplotlib import pyplot as plt
from matplotlib import pyplot as rcParams, style
from matplotlib import font_manager, rc

In [128]:
# font_path='C:/Windows/Fonts/malgun.ttf'

In [131]:
font_name-font_manager.FontProperties(fname="C:\Users\admin\Downloads\h8514fix.fon").get_name()

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1493250960.py, line 1)

In [132]:
rc('font',family=font_name)

NameError: name 'font_name' is not defined

In [133]:
mc_ratio=local_mc_population[['count']]
mc_ratio=mc_ratio.sort_values('count',ascending=False)

mc.data_top20=mc_data.head(n=20)
plt.rcParams['figure.figsize']-(20,5)
mr_ratio.plot(kind='bar',rot=90)
plt.show

NameError: name 'local_mc_population' is not defined